@using EmployeesDB.Entities
@model IEnumerable<Position>
@{
    ViewBag.Title = "PositionList";
}
<div>
    @Html.ActionLink("Добавить должность...", "NewPosition", "Position")
</div>
<div>
    @Html.ActionLink("Вернуться к списку сотрудников", "EmployeesList", "Employee")
</div>
<p>
    @TempData["result"]
</p>
<fieldset>
    <legend>Список должностей</legend>
    <table class="table table-condensed">
        <thead>
            <tr>
                <th>Наименование должности</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Position position in Model)
            {
                <tr>
                    <td>@position.Title</td>
                    <td>@Html.ActionLink("Удалить запись", "DeletePosition", "Position", new { id = position.Id }, null)</td>
                    <td>@Html.ActionLink("Обновить запись", "UpdatePosition", "Position", new { id = position.Id }, null)</td>
                </tr>
            }
        </tbody>
    </table>
</fieldset>